/*   <---- Mobile Ansicht ---->   */
.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    padding-inline: 1.5rem;
}


/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {

}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){

}