/*   <---- Mobile Ansicht ---->   */
.container {
    width: 100%;

    max-width: var(--container-width);

    margin-inline: auto;

    padding-inline: var(--spacing-md);
}

.container-small {
    max-width: 900px;
}

.container-large {
    max-width: 1400px;
}

.container-full {
    max-width: 100%;
}


/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {
    .container {
        padding-inline: var(--spacing-lg);
    }
}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){
    .container {
        padding-inline: var(--spacing-xl);
    }
}