/*   <---- Mobile Ansicht ---->   */
.sidebar-grid{
    display: flex;
    flex-direction: row;
    width: auto;
}


/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {

}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){
    .sidebar-grid{
        display: grid;
        grid-template-columns: minmax(250px, 350px) 1fr;
        height: 100vh;
        overflow: hidden;
    }
}
