#sidebar{
    display: none;
}

#sidebar-mobile{
    display: flex;
}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){

    #sidebar{
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;

    height: 100vh;
    overflow-y: auto;
}

    #sidebar img{
        width: 200px;
        height: 200px;
    }

    #sidebar-mobile{
    display: none;
    }
}