#sidebar{
    height: 97vh;
    background-color: var(--color-surface);
    position: sticky;
    top: 0;

    height: 100vh;
    overflow-y: auto;
}

#sidebar img{
    width: 200px;
    height: 200px;
}
