    <header class="header">
    <div class="container">

        <nav class="navigation">

            <a href="index.html" class="navigation-logo">
                Alex
            </a>

            <ul class="navigation-list">

                <li class="navigation-item">
                    <a href="index.html" class="navigation-link">
                        Home
                    </a>
                </li>

                <li class="navigation-item">
                    <a href="skills.html" class="navigation-link">
                        Skills
                    </a>
                </li>

                <li class="navigation-item">
                    <a href="projects.html" class="navigation-link">
                        Projects
                    </a>
                </li>

                <li class="navigation-item">
                    <a href="journey.html" class="navigation-link">
                        Journey
                    </a>
                </li>

                <li class="navigation-item">
                    <a href="contact.html" class="navigation-link">
                        Contact
                    </a>
                </li>

            </ul>

            <button class="navigation-toggle">
                <span class="navigation-toggle-line"></span>
                <span class="navigation-toggle-line"></span>
                <span class="navigation-toggle-line"></span>
            </button>

        </nav>

    </div>

    </header>
