
<div class="sidebar-image">
    <img src="../../assets/images/ProfilePicture.png">
</div>

<h1>Alexander Stach</h1>

<h2>Junior Webentwickler</h2>

<p>Ich baue moderne, interaktive und benutzerfreundliche Web-Erlebnisse</p>

<a href="../projects.html" class="button cta-button">
    <span>Portfolio entdecken</span>
    <span class="cta-button-icon" aria-hidden="true">↓</span>
</a>

<hr>

<p class="socials-label">Soziales</p>

<div class="socials">
    <a href="https://github.com/AudioSonic" class="button socials-button" aria-label="GitHub">
        <img src="../../assets/images/GitHub-Logo.png">
    </a>


    <a href="https://www.linkedin.com/in/stachalex/" class="button socials-button" aria-label="LinkedIn">
        <img src="../../assets/images/LinkedIn-Logo.png">
    </a>

    <a href="mailto:stach.alex@yahoo.de" class="button socials-button" aria-label="E-Mail">
        <img src="../../assets/icons/icon_mail.svg">
    </a>
</div>

