body {
    background-color: var(--color-background);
    color: var(--color-text);

    transition:
        background-color var(--transition-base),
        color var(--transition-base);
}

aside{
    display: none;
}

main {
    overflow: hidden;
}

section {
    padding-block: var(--spacing-xxl);
}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){
aside{
    display:block;
}

}
