body {
    background-color: var(--color-background);
    color: var(--color-text);

    transition:
        background-color var(--transition-base),
        color var(--transition-base);
}

main {
    overflow: hidden;
}

section {
    padding-block: var(--spacing-xxl);
}