/*   <---- Mobile Ansicht ---->   */
.card {
    border-radius: var(--radius-lg);
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
}

.background-card{
    margin: 10px 8px 10px 8px;
    background-image: url("../../assets/images/Background_Sidebar.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:right;
}

.capsule-card{
    width:  180px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 0px;
}

.expectation-card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 290px;
    height: 150px;
    padding: 15px;
}

.expectation-card-icon{
    background-color: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {

}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){
    body {
        height: 100vh;
        overflow: hidden;
    }

    aside,
    .content-wrapper {
        min-height: 0;
    }

    .background-card {
        position: sticky;
        top: 10px;

        height: calc(100vh - 20px);
        overflow-y: auto;
        overflow-x: hidden;

        background-image: url("../../assets/images/Background_Image.png");
    }

}
