/*   <---- Mobile Ansicht ---->   */
.card{
    border-radius: var(--radius-lg);
    background-color: var(--color-surface);
}

.background-card{
    margin: 20px;
}

/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {

}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){

}